* {
    padding: 0;
    margin: 0;
}


body {
    background: rgb(27, 0, 36);
    background: linear-gradient(90deg, rgba(27, 0, 36, 1) 0%, rgba(84, 53, 142, 1) 19%, rgba(111, 48, 133, 1) 34%, rgba(67, 38, 130, 1) 77%);
    font-family: 'Roboto', sans-serif;
    color: snow;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: snow;

}

a:hover {
    color: snow;
    text-decoration: underline;
}

.zindex{
    z-index: 10 !important;
}