body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgb(90, 27, 141) !important;
}

a:active, a:hover {}

a {
    text-decoration: none !important;
    color: black !important;
}


.white {
    color: snow;
}

.heig {
    height: 400px !important;

}


.capa {
    background-image: url('../image/xp.jpg');
}

.foto-perfil {
    width: 80%;
}


@media (min-width: 576px) {

    .capa {
        background-image: url('../image/xp.jpg');
        height: 170px;
        background-position: center;
    }
    .foto-perfil {
        width: 80%;
        margin-top: 50px !important;
    }

}

@media (max-width: 575.98px) {

    .capa {
        background-image: url('../image/xp.jpg');
        height: 170px;
        background-position: center;
    }
    .foto-perfil {
        width: 80%;
        margin-top: 50px !important;
    }


}


@media (min-width: 768px) {

    .capa {
        background-image: url('../image/xp700.jpg');
        height: 300px;
        background-position: center;
    }

    .foto-perfil {
        width: 80%;
        margin-top: 120px !important;
    }
}


@media (min-width: 992px) {

    .capa {
        background-image: url('../image/xp900.jpg');
        height: 300px;
        width: 80%;
        background-position: center;
    }

    .foto-perfil {
        width: 80%;
        margin-top:50px !important;
    }

}


@media (min-width: 1200px) {

    .capa {
        background-image: url('../image/xp1200.jpg');
        height: 400px;
        background-position: center;
    }

    .foto-perfil {
        width: 80%;
        margin-top:50px !important;
    }
}


@media (min-width: 1400px) {

    .capa {
        background-image: url('../image/xp1200.jpg');
        height: 400px;
        background-position: center;
    }

    .foto-perfil {
        width: 80%;
        margin-top: 50px !important;
    }


}